:root {
  --clr-primary: #000;
  --clr-secondary: #fff;
  --clr-accent: #00a4e5;
  --clr-border: #e6e6e6;
  --clr-text: #48555b;
  --clr-background: #171819;
  --clr-background-footer: #141a20;
  --wrapper-padding: 25px;
  --wrapper-width: 945px;
  --945_230-320_40: clamp(2.5rem, -3.58rem + 30.4vw, 14.375rem);
  --945_120-320_0: clamp(0rem, -3.84rem + 19.2vw, 7.5rem);
  --945_105-320_40: clamp(2.5rem, 0.42rem + 10.4vw, 6.563rem);
  --945_80-320_40: clamp(2.5rem, 1.22rem + 6.4vw, 5rem);
  --945_60-320_10: clamp(0.625rem, -0.975rem + 8vw, 3.75rem);
  --945_30-320_20: clamp(1.25rem, 0.93rem + 1.6vw, 1.875rem);
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./../fonts/bebas-neue-v10-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./../fonts/open-sans-v35-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./../fonts/open-sans-v35-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./../fonts/open-sans-v35-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./../fonts/open-sans-v35-latin-800.woff2") format("woff2");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 1px solid blue;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  background-color: #fff;
  border: none;
  border-radius: 0;
  appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  object-fit: cover;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

label {
  cursor: pointer;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: var(--clr-text);
}

.page__main {
  flex-grow: 1;
}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--wrapper-padding);
  max-width: var(--wrapper-width);
  box-sizing: content-box;
}

.title {
  position: relative;
  padding-bottom: 10px;
  max-height: 35px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.306px;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--clr-accent);
  transform: translateX(-50%);
}

.title.title--left::after {
  left: 0;
  transform: translateX(0);
}

.accent {
  color: var(--clr-accent);
}

.text {
  line-height: 1.75;
  letter-spacing: 0.188px;
}

.button {
  padding-block: 0.85em;
  padding-inline: 2.3em;
  max-width: 150px;
  max-height: 40px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: var(--clr-accent);
  transition: opacity 0.2s ease-in-out;
}

.scroll-none {
  overflow: hidden;
  touch-action: none;
}

.burger {
  position: relative;
}

.burger__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.burger__link {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.burger__close {
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.burger__open {
  display: none;
  width: 36px;
  height: 36px;
  background-color: transparent;
}

.burger__overlay {
  display: none;
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: all 0.2s;
}

.header__top {
  background-image: url("./../img/background/header.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__content-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  row-gap: 40px;
  padding-top: 40px;
  padding-bottom: 70px;
  min-height: 100vh;
}

.header__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  align-content: center;
  height: 100%;
}

.header__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  letter-spacing: 5.7px;
  color: var(--clr-secondary);
}

.header__text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-wrap: balance;
  color: var(--clr-secondary);
}

.header__scroll {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  color: var(--clr-secondary);
  transition: color 0.3s ease-in-out;
}

.header__bottom {
  padding-block: 23px;
  border-bottom: 1px solid var(--clr-border);
}

.header__content-bottom {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.story__content {
  padding-block: 60px;
}

.story__title {
  margin-bottom: 60px;
  text-align: center;
}

.story__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.story__description {
  max-width: 405px;
}

.story__info {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.17px;
}

.story__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.story__item {
  padding: 20px;
  width: 140px;
  height: 225px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  color: var(--clr-secondary);
  text-transform: uppercase;
  letter-spacing: 0.188px;
  overflow: hidden;
}

.story__item:first-child {
  background-image: url("./../img/background/plan.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.story__item:nth-child(2) {
  background-image: url("./../img/background/manage.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.story__item:nth-child(3) {
  background-image: url("./../img/background/build.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services__content {
  padding-top: var(--945_60-320_10);
  padding-bottom: var(--945_105-320_40);
}

.services__info {
  display: grid;
  grid-template-columns: 1fr 405px 150px;
  column-gap: 35px;
  margin-bottom: var(--945_80-320_40);
}

.services__text {
  font-size: 11px;
  line-height: 1.72;
  letter-spacing: 0.2px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 28px;
}

.services__item {
  padding: 180px 20px 40px;
  border: 1px solid var(--clr-border);
}

.services__item h3 {
  margin-bottom: 13px;
  max-width: 250px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.43px;
  text-transform: uppercase;
}

.services__item:first-child {
  background-image: url("./../img/icons/project.webp");
  background-repeat: no-repeat;
  background-position: 23px 38px;
  background-size: 66px 75px;
}

.services__item:nth-child(2) {
  background-image: url("./../img/icons/structure.webp");
  background-repeat: no-repeat;
  background-position: 23px 38px;
  background-size: 68px 75px;
}

.services__item:nth-child(3) {
  background-image: url("./../img/icons/factory.webp");
  background-repeat: no-repeat;
  background-position: 23px 38px;
  background-size: 71px 75px;
}

.contact {
  background-image: url("./../img/background/city.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact__content {
  display: grid;
  place-items: center;
  padding-top: var(--945_120-320_0);
  padding-bottom: var(--945_230-320_40);
}

.contact__content h2 {
  margin-bottom: 35px;
  max-width: 350px;
  font-weight: 700;
  font-size: var(--945_30-320_20);
  line-height: 1.2;
  text-align: center;
  text-wrap: balance;
  letter-spacing: 0.15px;
}

.contact__content button {
  padding-inline: 26px;
}

.news {
  background-color: var(--clr-background);
}

.news__content {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  gap: 30px;
  margin-inline: auto;
  max-width: 685px;
  padding-block: 30px;
}

.news__content h2 {
  align-self: center;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.85px;
  color: var(--clr-secondary);
}

.news__content form {
  display: flex;
  justify-content: center;
}

.news__email {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 15px 10px;
  max-width: 250px;
  height: 40px;
}

.footer__content {
  padding-block: 45px;
  background-color: var(--clr-background-footer);
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer__company {
  max-width: 250px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__head {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.85px;
  color: var(--clr-secondary);
}

.footer__text {
  font-size: 11px;
  line-height: 1.7;
  color: var(--clr-secondary);
  letter-spacing: 0.85px;
}

.footer__lists {
  display: flex;
  column-gap: 35px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--clr-secondary);
  letter-spacing: 0.85px;
  transition: transform 0.2s ease-in-out;
}

.footer__contacts address,
.footer__contacts a {
  display: block;
  font-style: normal;
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.85px;
  color: var(--clr-secondary);
}

.footer__contacts address,
.footer__contacts .footer__tel {
  margin-bottom: 20px;
}

.footer__bottom {
  background-color: var(--clr-background);
}

.footer__bottom small {
  display: block;
  padding-block: 22px;
  font-size: 11px;
  text-align: center;
  text-wrap: balance;
  letter-spacing: 0.85px;
  color: var(--clr-secondary);
}

@media (max-width: 1010px) {
  .title.title--left::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .services__info {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 30px;
  }

  .services__text {
    max-width: 500px;
    text-align: center;
  }

  .services__list {
    grid-template-columns: 1fr;
  }

  .services__item {
    margin-inline: auto;
    padding-top: 150px;
    max-width: 85%;
  }

  .services__item:first-child,
  .services__item:nth-child(2),
  .services__item:nth-child(3) {
    background-position: center 38px;
  }

  .services__item h3 {
    text-align: center;
    max-width: 100%;
  }

  .services__item p {
    margin-inline: auto;
    max-width: 85%;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 200px;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .burger__list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 25px;
    padding-block: 50px;
    height: 100vh;
    overflow-y: auto;
  }

  .burger--visible {
    transform: none;
  }

  .burger__open {
    display: block;
    margin-left: auto;
  }

  .burger__close {
    display: block;
  }

  .burger__overlay--active {
    display: block;
    z-index: 1;
    opacity: 0.7;
  }

  .burger__close--visible {
    display: block;
  }

  .story__block {
    flex-direction: column;
    align-items: center;
  }

  .story__title {
    margin-bottom: 40px;
  }

  .story__info,
  .story__text {
    text-align: center;
  }
}

@media (max-width: 750px) {
  .footer__info {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    margin-inline: auto;
  }

  .footer__text {
    text-align: center;
  }

  .footer__head {
    text-align: center;
  }

  .footer__list {
    align-items: center;
  }

  .footer__adress,
  .footer__tel,
  .footer__mail {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .news__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 620px) {
  .services__text {
    max-width: 85%;
  }

  .services__item {
    max-width: 100%;
  }

  .services__item h3 {
    font-size: 14px;
  }
}

@media (max-width: 525px) {
  .story__content {
    padding-block: 50px;
  }

  .story__list {
    flex-direction: column;
    width: 265px;
  }

  .story__item {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 420px) {
  .services__item p {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .burger {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .news__content h2 {
    font-size: 20px;
  }

  .news__content form {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}

@media (any-hover: hover) {
  .button:hover {
    opacity: 0.8;
  }

  .burger__link:hover {
    color: var(--clr-accent);
  }

  .header__scroll:hover {
    color: var(--clr-accent);
  }

  .footer__link:hover {
    transform: translateY(-1.5px);
  }

  .footer__contacts a:hover {
    text-decoration: underline;
  }
}